
.navbar-style{
    background-color: aquamarine;
}
.banner-container{
    background-image: url(../../images/slider/banner-image.jpg);
    height: 600px;
    width: 100%;
}

.text-style{
    color: #7300e6;
    
}

@media screen and (max-width:767px) {
.banner-container{
    display: flex;
    flex-direction: column;
}
.productContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
    
}