
.navbar-style{
    background-color: aquamarine;
}

.text-style{
    color: #7300e6;
    
}

@media screen and (max-width:767px) {
.banner-container{
    display: flex;
    flex-direction: column;
}
.productContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
    
}